fastapi==0.115.5
langchain_community==0.3.8
langchain_openai==0.2.9
uvicorn==0.32.1
neo4j==5.23.1
motor==3.5.1
datefinder==0.7.3
redis==5.0.8
flashRank==0.2.9
langchain-core==0.3.21
langchain-qdrant==0.2.0
python-dotenv==1.0.1
qdrant-client==1.12.1
groq==0.12.0
pandas==2.2.3
BeautifulSoup4==4.12.3
nest_asyncio==1.6.0
selenium==4.27.1
langchain_google_genai==2.0.7
datefinder==0.7.3
openpyxl==3.1.5